* {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
}

header {
    text-align: center;
}

#ajude-apito {
    background-color: #FFC519;
    text-align: center;
}

#ajude-apito h1 {
    text-align: center;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 165px;
    letter-spacing: 0em;
    color: white;
    margin-top: 4%;
}

.card {
    display: flex;
    justify-content: space-between;
}

.card p {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    text-align: left;
    margin-left: 6%;
    margin-right: 5%;
}

.card img {
    margin-right: 6%;
    width: 45%;
}

#ajude-apito button{
    width: 844px;
    height: 92px;
    background-color: #0BC01D;
    border-radius: 16px;
    font-family: 'Baloo Tamma 2', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 110px;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

#ajude-apito a {
    text-decoration: none;
    color: #FFFFFF;
}

#quem-somos {
    display: flex;
    flex-direction: column;
}

#quem-somos h1 {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 165px;
    letter-spacing: 0em;
    text-align: center;

}

#quem-somos-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 8%;
    margin-left: 6%;
    margin-right: 6%;

}

#quem-somos-conteudo img {
    width: 45%;
    margin-right: 6%;
}

#quem-somos-conteudo p {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 27px;
}